.banner{
	height: 400px;
	background: url(../images/contact1.jpg) no-repeat center;
}
.nav{
	background: #FFFFFF;
}
.top-floor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background-color: rgba(255, 255, 255, .3);
    color: #666666;
}
.title-word {
	text-align: center;
	width: 350px;
	height: 70px;
	margin: -35px 0 0 -125px;
	position: relative;
	left: 50%;
	top: 50%;
}

 .title-word span:first-child {
	font: 22px 微软雅黑;
	color: #CA171D;
	font-weight: 600;
}

 .top-floor .title-word span:last-child {
	font: 16px 微软雅黑;
	line-height: 50px;
	color: #333333;
	font-weight: 600;
}
.main{
	height: 340px;
    text-align: center;
}
			
.container-fluid-img{
	height: 450px;
	margin-top: 88px;
	background:#f8f8f8 ;
}
.con-box .p1{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #666666;
	
}
.con-box span{
	font-size: 14px;
	font-family: "微软雅黑";
	color: #666666;
}

.Map{
	height:360px ;
    background: url(../images/Map_03.gif)no-repeat center;
    background-size:contain ;
	margin-top: 40px;
}
.row-word{
	text-align: center;
	margin: 50px 0;
}
.con-footer{
	padding:30px 0 30px 0 ;
}
.con-footer h4{
	font-size: 16px;
	font-family:"微软雅黑";
	color: #666666;
}
.con-footer p{
	padding-top: 10px;
	font-size: 14px;
	font-family:"微软雅黑";
	color: #666666;
	
}
.con-word {
     width: 90px;
     height: 45px;
     margin: 0 auto;
     color: #c92127;
     text-align: center;
     line-height: 45px;
     font-family: 微软雅黑;
      border-bottom: 1px solid #c92127;
 }
  .icon-c{
      width: 145px;
      margin: auto;
      padding-top: 25px;
 }
   .icon-c-1{
   	  width: 330px;
      margin: auto;
      padding-top: 25px;
   }
 .icon-c img{
      float: left;
 }
  .icon-c-1 img{
  	 float: left;
  }
 /*返回顶部*/
.gotop{
	width: 38px;
	height: 50px;
	background: url(../images/top.png)no-repeat center;
	 position: fixed;
     display: none;
     right:0 ;
     bottom: 100px;
}