.navss{
	height: 51px;
	border-bottom: 1px solid #ccc;
	background: #FFFFFF;
}
#bs-example-navbar-collapse-1{
	background: #FFFFFF;
}
#navbar{
	height: 51px;
	border-top:none ;
	border-left:none ;
	border-right:none ;
	border-bottom: 1px solid #ccc;
	border-radius:0 ;
	
}
.nav-2{
	width: 100%;
	height: 50px;
	background: rgba(255,255,255,.8);
	position:absolute ;
	top: 50px;
	z-index: 999;
	
}
.nav-1{
	width: 100%;
	height: 50px;
	background: rgba(255,255,255,.8);
	position:absolute ;
	top: 50px;
	z-index: 9999;	
	
}

.navbar-left img{
	margin-top: 10px;
}
.navs1-box li{
	float: right;
	line-height: 50px;
	padding-right: 30px;
				
}
.navs1-box li:nth-child(1){
	margin-right: 100px;
}

.navs2-box li{
    float: right;  
	line-height: 50px;
	padding-right: 30px ;
	font-weight:700 ;
	font-family: "微软雅黑";
	color: #666666;
}
.navs2-box li:nth-child(1){
	margin-right: -50px;
}

.navs2-box li a,.navs1-box li a{
	color: #666666;
	font-weight:700 ;
	font-size: 12px;
	font-family: "微软雅黑";
}
.navs2-box li a:hover,.navs1-box li a:hover{
	text-decoration:none !important;
	color: #C92127;
	
}
#navbar a:hover{
	color: #C92127;
	
}

 .nav-menu {

          display: block;
           color: #000000;

        }

    .nav-menu > li {

          display: inline;
          float:left;    
          color:#000000; 
          

        }

        .nav-menu > li:last-child {

          border-right: none;

        }

        .nav-menu li a {

         color: #000000;
          font-size: 16px;
          font-family: "微软雅黑";
          font-size: 600;
          display: block;
          text-align: center;
          text-decoration: none;

          /*调用本地字体*/

          font-family:sansationregular;

          -webkit-font-smoothing: antialiased;

          -moz-font-smoothing: antialiased;

          font-smoothing: antialiased;

          text-transform: capitalize;

          overflow: visible;

          line-height: 20px;

          font-size: 20px;

          padding: 15px 30px 15px 31px;     

        }

        .three-d {

          /* 任务三、设置3D舞台布景 */

          -webkit-perspective: 200px;

          -moz-perspective: 200px;

          -ms-perspective: 200px;

          -o-perspective: 200px;

          perspective: 200px;

          /*任务四、设置3D舞台布景过渡效果*/

          -webkit-transition: all .07s linear;

          -moz-transition: all .07s linear;

          -ms-transition: all .07s linear;

          -o-transition: all .07s linear;

          transition:all .7s linear;

          position: relative;

        }
       .three-d:not(.active):hover {

          cursor: pointer;

        }

        

        /*任务五、给不是当前状态的3D舞台的悬浮与聚焦状态设置变形效果*/

        .three-d:not(.active):hover .three-d-box, 

        .three-d:not(.active):focus .three-d-box {
        
        /*-webkit-transform: translateZ(-25px) rotateX(90deg);

        -moz-transform: translateZ(-25px) rotateX(90deg);

        -o-transform: translateZ(-25px) rotateX(90deg);

        -ms-transform: translateZ(-25px) rotateX(90deg);

        transform: translateZ(-25px) rotateX(90deg);

        -webkit-transform:rotateX(90deg) translatez(-25px);

         -webkit-transform:rotatex(90deg);*/

        }

        

        .three-d-box {

          /*任务六、给3D舞台中“.three-d-box”设置过渡与变形效果*/

          -webkit-transition: all .3s ease-out;

          -moz-transition: all .3s ease-out;

          -ms-transition: all .3s ease-out;

          -o-transition: all .3s ease-out;  

          transition: all .3s ease-out;

          -webkit-transform: translatez(-25px);

          -moz-transform: translatez(-25px);

          -ms-transform: translatez(-25px);

          -o-transform: translatez(-25px);

          transform: translatez(-25px);

          -webkit-transform-style: preserve-3d;

          -moz-transform-style: preserve-3d;

          -ms-transform-style: preserve-3d;

          -o-transform-style: preserve-3d;

          transform-style: preserve-3d;

          -webkit-pointer-events: none;

          -moz-pointer-events: none;

          -ms-pointer-events: none;

          -o-pointer-events: none;

          pointer-events: none;

          position: absolute;

          top: 0;

          left: 0;

          display: block;

          width: 100%;

          height: 100%;

        }

        

        /*任务七、给导航设置3D前，与3D后变形效果*/

        .front {

            -webkit-transform: rotatex(0deg) translatez(25px);

            -moz-transform: rotatex(0deg) translatez(25px);

            -ms-transform: rotatex(0deg) translatez(25px);

            -o-transform: rotatex(0deg) translatez(25px);

            transform: rotatex(0deg) translatez(25px);

         }

        

        .back {

          -webkit-transform: rotatex(-90deg) translatez(25px);

          -moz-transform: rotatex(-90deg) translatez(25px);

          -ms-transform: rotatex(-90deg) translatez(25px);

          -o-transform: rotatex(-90deg) translatez(25px);

          transform: rotatex(-90deg) translatez(25px);

          color: #666666; 

        }

        

        .front, .back {

/*          border:1px solid red;*/

          display: block;

          width: 100%;

          height: 100%;

          position: absolute;

          top: 0;

          left: 0;

          background: #FFFFFF;

          padding: 15px 30px 15px 31px; 

          color: #666666;
          font-size: 14px;
          font-family: "微软雅黑";
          font-weight:600 ;

          -webkit-pointer-events: none;

          -moz-pointer-events: none;

          -ms-pointer-events: none;

          -o-pointer-events: none;

          pointer-events: none;

          -webkit-box-sizing: border-box;

          box-sizing: border-box;

        }

        /*任务八、设置导航当前状态与悬浮状态下的背景效果*/

        .nav-menu li .active .front,

        .nav-menu li .active .back,

        .nav-menu li a:hover .front,

       .nav-menu li a:hover .back {
            background-color: #ca171e;
             -webkit-background-size: 5px 5px;
             background-size: 5px 5px;
             background-position: 0 0, 30px 30px;
             background-image: -webit-linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a), linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%,#d6676a 75%, #d6676a);
             background-image: -moz-linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a), linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a);
             background-image: -ms-linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a), linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a);
             background-image: -o-linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a), linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a);
             background-image: linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a), linear-gradient(45deg, #d6676a 25%, transparent 25%, transparent 75%, #d6676a 75%, #d6676a);  
         

        }

        .nav-menu ul {

          position: absolute;

          text-align: left;

          line-height: 40px;

          font-size: 14px;

          width: 200px;

          -webkit-transition: all 0.3s ease-in;

          -moz-transition: all 0.3s ease-in;

          -ms-transition: all 0.3s ease-in;

          -o-transition: all 0.3s ease-in;

          transition: all 0.3s ease-in;

          -webkit-transform-origin: 0px 0px;

          -moz-transform-origin: 0px 0px;

          -ms-transform-origin: 0px 0px;

          -o-transform-origin: 0px 0px;

          transform-origin: 0px 0px;

          -webkit-transform: rotateX(-90deg);

          -moz-transform: rotateX(-90deg);

          -ms-transform: rotateX(-90deg);

          -o-transform: rotateX(-90deg);

          transform: rotateX(-90deg);

          -webkit-backface-visibility: hidden;

          -moz-backface-visibility: hidden;

          -ms-backface-visibility: hidden;

          -o-backface-visibility: hidden;

          backface-visibility: hidden;

        }

        /*任务九、显示下拉导航菜单，并其设置一个变形效果*/

        .nav-menu > li:hover ul {

          display: block;

          -webkit-transform: rotateX(0deg);

           -moz-transform: rotateX(0deg);

           -ms-transform: rotateX(0deg);

           -o-transform: rotateX(0deg);

           transform: rotateX(0deg);
          

         }
   .nav-menu > li:hover .back{
   	color: #FFFFFF;
   }
   .nav-menu > li:hover .front{
   	color: #FFFFFF;
   }
